div#header {
	width: 960px;
	margin: 24px;
	padding: 24px;
	background-color: #F5F3EE;
	font-size: 22px;
}

div#charts {
	width: 960px;
	margin: 24px;
	padding: 24px;
	background-color: #F5F3EE;
	font-size: 16px;
}