body {
	background-color: #114B5F;
}

section {
	font-size: 14px;
}

header {
	font-family: "Gill Sans MT";
}

em {
    font-size: 18px;
    font-style: normal;
    text-decoration: underline;
}

div#sidebar {
	width: 260px;
	padding: 32px;
	font-size: 18px;
	color: #F5F3EE;
	margin: auto;
	font-family: "Gill Sans MT";
	float: left;
	position: fixed;
}

div#all {
	width: 1024px;
	float: left;
}

div#charts {
	width: 636px;
	padding: 32px;
	background-color: #F5F3EE;
	font-size: 14px;
	margin: auto;
	font-family: "Gill Sans MT";
	float: right;
}

img {
	width: 100%;
	margin-bottom: 3em;
}

a:link {
    color: #7D9CA7;
    text-decoration: none;

}
a:visited {
    text-decoration: none;
	color: #B88190;